$maincolor: #2879fe;
$ligthtext: lightgray;
$white: white;
$black: black;

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

@mixin flex($jus, $ali, $gap: 0) {
  display: flex;

  @if $jus == sb {
    justify-content: space-between;
  }
  @if $jus == c {
    justify-content: center;
  }
  @if $jus == se {
    justify-content: space-evenly;
  }
  @if $jus == sa {
    justify-content: space-around;
  }

  @if $jus == s {
    justify-content: flex-start;
  }
  //   .......................
  @if $ali == s {
    align-items: flex-start;
  }
  @if $ali == c {
    align-items: center;
  }
  @if $ali == b {
    align-items: baseline;
  }
  gap: $gap;
  flex-wrap: wrap;
}
@mixin width($x, $gap, $percent: false) {
  @if $percent {
    @if $gap==0 {
      width: calc((#{$percent}));
      max-width: calc((#{$percent}));
    } @else {
      width: calc((#{$percent}) - #{$gap} + (#{$gap} / #{$x}));
      max-width: calc((#{$percent}) - #{$gap} + (#{$gap} / #{$x}));
    }
  } @else {
    @if $gap==0 {
      width: calc((100% / #{$x}));
      max-width: calc((100% / #{$x}));
    } @else {
      width: calc((100% / #{$x}) - #{$gap} + (#{$gap} / #{$x}));
      max-width: calc((100% / #{$x}) - #{$gap} + (#{$gap} / #{$x}));
    }
  }
}
@mixin media($x) {
  @media screen and (max-width:#{$x}px ) {
    @content;
  }
}
@mixin btn {
  border: none;
  outline: none;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
}
:root {
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

.signup {
  min-height: 90vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  opacity: 0;
  animation: fadeanimation 0.8s forwards;
  > .containerr_ {
    width: 60%;
    @include media(700) {
      width: 90%;
    }
    > .signupcontent {
      padding: 50px;
      border: 1px solid lightgray;

      > h5 {
        font-size: 28px;
        text-align: center;
        margin: 0px 0 30px;
        letter-spacing: 1.5px;
      }
      > form {
        > .inputgroup {
          margin: 15px 0;
          > label {
            color: gray;
            margin-bottom: 5px;
            display: inline-block;
          }
          > input {
            display: block;
            width: 100%;
            padding: 8px 5px;
            border: none;
            outline: none;
            background-color: rgb(241, 240, 240);
            border-radius: 2px;
            transition: all 0.2s;
            &:focus {
              border-bottom: 1px solid #2879fe;
            }
          }
          > span {
            font-size: 12px;
            margin-top: 5px;
            color: red;
          }
        }
        > button {
          margin-top: 20px;
          border: none;
          padding: 8px 15px;
          color: black;
          border: 1px solid #2879fe;
          background-color: transparent;
          border-radius: 2px;
          font-size: 14px;
          transition: all 0.3s;
          &:hover {
            color: white;
            background-color: #2879fe;
          }
        }
      }
      > p {
        text-align: end;
        cursor: pointer;
        color: black;
        transition: all 0.2s;
        &:hover {
          color: #2879fe;
        }
      }
    }
  }
}

@keyframes fadeanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
